In [15]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

example_data = {
    "y": [-10, 3, 2, 7, -9, 10, 9, 7, 4, 5, 3, 2, -4, -5, -9, -4],
    "x": [-3, 0, 1, 2, 4, 2, 3, 5, 7, 8, 9, 6, -2, -5, -1, -2]
}
example_data = pd.DataFrame(example_data)

model = LinearRegression()

hyperparameters = {'fit_intercept': [True, False]}

grid_search = GridSearchCV(estimator=model, param_grid=hyperparameters, scoring='neg_mean_squared_error', cv=3)

grid_search.fit(example_data[["x"]], example_data["y"])

grid_search.predict([[6]])

C:\Users\kaspe\anaconda3\new_anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4.5])

In [16]:
df_gs_results = pd.DataFrame(grid_search.cv_results_)
df_gs_results.iloc[:, [0, 1, 5]]

   mean_fit_time  std_fit_time                    params
0       0.002217      0.003135   {'fit_intercept': True}
1       0.007012      0.006662  {'fit_intercept': False}

In [17]:
df_gs_results.iloc[:, [5, 6, 7, 8]]

,params,split0_test_score,split1_test_score,split2_test_score
0,{'fit_intercept': True},-54.319581,-18.767744,-23.932130
1,{'fit_intercept': False},-52.878110,-16.130178,-17.831193

In [18]:
df_gs_results.iloc[:,[5, 8, 10]]

                     params  split2_test_score  std_test_score
0   {'fit_intercept': True}         -23.932130       15.684391
1  {'fit_intercept': False}         -17.831193       16.936451

In [21]:
pd.DataFrame(grid_search.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_fit_intercept,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002217,0.003135,0.001338,0.001893,True,{'fit_intercept': True},-54.319581,-18.767744,-23.932130,-32.339818,15.684391,2
1,0.007012,0.006662,0.001677,0.002371,False,{'fit_intercept': False},-52.878110,-16.130178,-17.831193,-28.946493,16.936451,1

In [24]:
print("Best Hyperparameters from GridSearchCV:", grid_search.best_params_)
print("Best Cross_Validation MSE:", -grid_search.best_score_)

best_model = grid_search.best_estimator_
print(f"Best Model Coefficients. Intercept: {round(best_model.intercept_, 2)}, Slope: {round(best_model.coef_[0],2 )}")

Best Hyperparameters from GridSearchCV: {'fit_intercept': False}
Best Cross_Validation MSE: 28.946493393541985
Best Model Coefficients. Intercept: 0.0, Slope: 0.75

In [27]:
Nominal_data = {'färg': ['röd', 'grön', 'blå', 'svart', 'röd', 'grön', 'grön', 'röd']}
nominal_df = pd.DataFrame(Nominal_data)
nominal_df

    färg
0    röd
1   grön
2    blå
3  svart
4    röd
5   grön
6   grön
7    röd

In [28]:
oh_encoding = pd.get_dummies(nominal_df, dtype = int)
oh_encoding

   färg_blå  färg_grön  färg_röd  färg_svart
0         0          0         1           0
1         0          1         0           0
2         1          0         0           0
3         0          0         0           1
4         0          0         1           0
5         0          1         0           0
6         0          1         0           0
7         0          0         1           0

In [29]:
dummy_encoding = pd.get_dummies(nominal_df, dtype = int, drop_first = True)
dummy_encoding

   färg_grön  färg_röd  färg_svart
0          0         1           0
1          1         0           0
2          0         0           0
3          0         0           1
4          0         1           0
5          1         0           0
6          1         0           0
7          0         1           0

In [31]:
ordinal_data = {"Produkt": ["XXX", "YYY", "XXY", "XYX", "YXX"], "Pris": ["hög", "medel", "låg", "hög", "låg"]}
ordinal_df = pd.DataFrame(ordinal_data)
ordinal_df

  Produkt   Pris
0     XXX    hög
1     YYY  medel
2     XXY    låg
3     XYX    hög
4     YXX    låg

In [32]:
mapping= {"låg": 1, "medel": 2, "hög": 3}
ordinal_df["Pris"] = ordinal_df["Pris"].map(mapping)
ordinal_df

  Produkt  Pris
0     XXX     3
1     YYY     2
2     XXY     1
3     XYX     3
4     YXX     1

In [33]:
example_data = {'pris (tkr)': [4200, 2500, 7900, 6100, 6500],
'kvm': [120, 80, 250, 200, 150],
'antal rum': [4, 3, 7, 5, 4],
'byggår': [2005, 2016, 1980, 1990, 2020]}
example_data = pd.DataFrame(example_data)
example_data

   pris (tkr)  kvm  antal rum  byggår
0        4200  120          4    2005
1        2500   80          3    2016
2        7900  250          7    1980
3        6100  200          5    1990
4        6500  150          4    2020

In [38]:
example_data["snitt_kvm_per_rum"] = example_data["kvm"] / example_data["antal_rum"]
example_data["antal rum"]

example_data["ny_husmodell"] = (example_data["byggår"] > 2000).astype(int)

example_data

KeyError: 'antal_rum'